{
  "root": true,
  "parser": "babel-eslint",
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "env": {
    "browser": true,
    "es6": true,
    "jquery": true
  },
  "globals": {
    "module": false,
    "process": false,
    "sinon": false,
    "require": false
  },
  "plugins": [
    "babel",
    "react"
  ],
  "rules": {
    "arrow-parens": [
      2,
      "as-needed"
    ],
    "arrow-spacing": [
      2,
      {
        "before": true,
        "after": true
      }
    ],
    "brace-style": [
      2,
      "1tbs",
      {
        "allowSingleLine": true
      }
    ],
    "comma-dangle": 2,
    "comma-spacing": [
      2,
      {
        "before": false,
        "after": true
      }
    ],
    "curly": [
      2,
      "multi-line"
    ],
    "eol-last": 2,
    "eqeqeq": 2,
    "indent": [
      2,
      2,
      {
        "SwitchCase": 1
      }
    ],
    "jsx-quotes": [
      2,
      "prefer-double"
    ],
    "key-spacing": [
      2,
      {
        "beforeColon": false,
        "afterColon": true
      }
    ],
    "keyword-spacing": 2,
    "new-cap": 0,
    "no-extra-semi": 2,
    "no-irregular-whitespace": 2,
    "no-multiple-empty-lines": [
      2,
      {
        "max": 1,
        "maxEOF": 0
      }
    ],
    "no-redeclare": 2,
    "no-restricted-globals": [
      2,
      "$",
      "event"
    ],
    "no-trailing-spaces": 2,
    "no-undef": 2,
    "no-underscore-dangle": 0,
    "no-unused-vars": [
      2,
      {
        "args": "none",
        "ignoreRestSiblings": true
      }
    ],
    "object-curly-spacing": [
      2,
      "always"
    ],
    "padded-blocks": [
      2,
      "never"
    ],
    "semi": [
      2,
      "always"
    ],
    "space-before-blocks": [
      2,
      "always"
    ],
    "space-before-function-paren": [
      2,
      "never"
    ],
    "space-in-parens": [
      2,
      "never"
    ],
    "strict": [
      2,
      "never"
    ],
    "react/display-name": 2,
    "react/jsx-closing-bracket-location": 2,
    "react/jsx-curly-spacing": [
      2,
      "never"
    ],
    "react/jsx-equals-spacing": [
      2,
      "never"
    ],
    "react/jsx-indent": [
      2,
      2
    ],
    "react/jsx-indent-props": [
      2,
      2
    ],
    "react/jsx-no-duplicate-props": 2,
    "react/jsx-no-undef": 2,
    "react/jsx-tag-spacing": 2,
    "react/jsx-uses-react": 2,
    "react/jsx-uses-vars": 2,
    "react/jsx-wrap-multilines": [2, { "arrow": false }],
    "react/no-direct-mutation-state": 2,
    "react/no-string-refs": 2,
    "react/prefer-es6-class": [
      2,
      "always"
    ],
    "react/self-closing-comp": 2,
    "react/sort-comp": 2
  }
}
